@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

h1,
p,
Table {
  font-family: 'Inter', sans-serif;
  margin: 0 auto;
  text-align: center;
}

h1 {
  padding-top: 15vh;
  font-size: 60;
}

p {
  padding-top: 2em;
}

tr > td {
  padding-bottom: 2em;
}

td {
  padding: 2em;
}

img {
  border-radius: 50%;
}
