@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.home-title,
.home-subtitle,
.home-table {
  font-family: 'Inter', sans-serif;
  margin: 0 auto;
  text-align: center;
}

.home-title {
  padding-top: 15vh;
  font-size: 60;
}

.home-subtitle {
  padding-top: 2em;
}

.home-table-row {
  padding-bottom: 2em;
}

.home-table-row > td {
  padding: 2em;
}

.headshots {
  border-radius: 50%;
}
