.introduction {
  font-size: 60;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.fullname {
  text-align: center;
  color: #fdf1e8;
  font-size: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  margin: 0;
  width: 100;
  line-height: 400px;
}
.jessica-header {
  background-image: url('../utils/images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  width: 100%;
  height: 400px;
}
.hobbies {
  padding-left: 5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 25px;
}
.gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(1, 5vw);
  /* grid-gap: 0px; */
}
.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery__item{
  flex: 1 1 auto;
  width:auto;

}

.main {
  color: rgb(216, 76, 99);
}
